.weatherCard {
  padding: 2rem;
  width: 20rem;
  font-size: 1.6rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem 0.1rem rgba(0, 0, 0, 0.06);
  background-image: linear-gradient(#2c59ad80, #6a7eb680);
  color: #fff;
  position: relative;
}

.weatherCard:hover {
  transform: scale(1.05) translateY(-0.5rem);
}

.weatherCard__day {
  font-size: 2rem;
  color: bisque;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
}

.weatherCard__desc {
  text-transform: capitalize;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
}

.weatherCard__icon {
  position: absolute;
  top: 20%;
  left: -3.5rem;
}

.weatherCard__temp {
  padding: 2rem;
  text-align: center;
  font-size: 7rem;
  font-weight: 700;
}

.weatherCard__temp span {
  font-size: 3rem;
}

.weatherCard__wind {
  text-transform: capitalize;
  font-size: 1.4rem;
}

.weatherCard__wind span {
  text-transform: lowercase;
  font-size: 2rem;
}
