.footer {
  background-color: #fff;
  height: 7rem;
  width: 100%;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
}

.footer__copyright {
  color: #777;
  font-size: 1.2rem;
}

.footer__info {
  width: 22rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__info--title {
  color: #777;
  font-size: 1.2rem;
}

.footer__info--img {
  height: 6rem;
  width: 6rem;
}
