@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppings", sans-serif;
  background-image: linear-gradient(rgb(128, 202, 245), rgb(201, 227, 241));
  background-repeat: no-repeat;
}
